# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Environment files
.env
.env.local
.env.development
.env.production

# Dependency files
venv/
*.egg-info/
dist/
build/
*.egg

# Jupyter Notebook files
.ipynb_checkpoints

# Log files
logs/
*.log

# Miscellaneous
*.swp
*.bak
*.tmp
*.~
.DS_Store
